.main-ui {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .heading{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-family: monospace;
  }

  .our-form {
    text-align: center;
  }

.boxes{
    display: flex;
    width: 100%;
}

.box{
    flex: 1;
    border: 1px solid green;
    height: 60px;
}

.progress{
    position: relative;
}

.progress-inner{
    top: 0;
    bottom: 0;
    position:absolute;
    width: 100%;
    background-color: chartreuse;
    opacity: 0.5;
    transform:scaleX(0);
    transform-origin: center left;
    transition: transform ease 0.4s;
}

.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.82);
    opacity:0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
    transition: all 0.4s ease-out;

}
.overlay-inner{
  text-align: center;
}

body.overlay-is-open .overlay{
    opacity: 1;
    visibility: visible;
}

body.overlay-is-open .main-ui{
    filter: blur(1px);
}

.problem {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .status {
    text-align: center;
    font-size: 1.5rem;
  }

@keyframes showError{
    50%{
        color:red;
        transform : scale(1.2)
    }
}

  .animate-wrong{
      animation: 0.45s showError;
  }

  .reset-button {
    font-size: 1.2rem;
    background-color: #000000;
    border: none;
    color: #FFF;
    border-radius: 7px;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #000000;
  }
  
  .reset-button:focus {
    background-color: #000000;
  }

  .our-field{
    padding: 12px 10px;
    font-size: 1rem;
    border: 2px solid black ;
    text-align: center;
  }

  .submit-button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

  }

  .end-game-message, .level-message-1{
    font-size: 24px;
    background-color:rgb(122, 255, 155);
    padding: 16px;
    font-family: monospace;
    font-weight: bold
  }

  .footer{
    padding:16px;
    text-align: center;
    margin-top: 100px;
  }

  .more-numbers{
    text-align: center;
  }

  .levels{
    padding-top: 40px;
  }