.main-ui {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .our-form {
    display: flex;
    justify-content: center;
  }

.boxes{
    display: flex;
    width: 100%;
}

.box{
    flex: 1;
    border: 1px solid green;
    height: 60px;
}

.progress{
    position: relative;
}

.progress-inner{
    top: 0;
    bottom: 0;
    position:absolute;
    width: 100%;
    background-color: chartreuse;
    opacity: 0.5;
    transform:scaleX(0);
    transform-origin: center left;
    transition: transform ease 0.4s;
}

.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.82);
    opacity:0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
    transition: all 0.4s ease-out
}

body.overlay-is-open .overlay{
    opacity: 1;
    visibility: visible;
}

body.overlay-is-open .main-ui{
    filter: blur(1px);
}

.problem {
    font-size: 5rem;
    margin: 0;
    text-align: center;
  }

  .status {
    text-align: center;
    font-size: 1.5rem;
  }

@keyframes showError{
    50%{
        color:red;
        transform : scale(1.2)
    }
}

  .animate-wrong{
      animation: 0.45s showError;
  }

  .reset-button {
    font-size: 1.2rem;
    background-color: #004094;
    border: none;
    color: #FFF;
    border-radius: 7px;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #00367e;
  }
  
  .reset-button:focus {
    background-color: #00275a;
  }

  .our-field{
    padding: 15px 22px;
    box-sizing: border-box;  
    font-size: 1.5rem;
  }

  .submit-button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 0px 14px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
  }